# REVIEW QUESTION #1

In [4]:
CARDINAL_NUMBERS = ("FIRST", "SECOND", "THIRD")
print(CARDINAL_NUMBERS)

('FIRST', 'SECOND', 'THIRD')

In [8]:
CARDINAL_NUMBERS = ("FIRST", "SECOND", "THIRD")
print(CARDINAL_NUMBERS[1])

SECOND

In [12]:
CARDINAL_NUMBERS = ("FRIRST", "SECOND", "THIRD")
POS1, POS2, POS3 = CARDINAL_NUMBERS
print(POS1)
print(POS2)
print(POS3)

FRIRST
SECOND
THIRD

In [9]:
MY_NAME = tuple("CJ")
print(MY_NAME)

('C', 'J')

In [13]:
MY_NAME = tuple("CJ")
print("X" in MY_NAME)

False

In [15]:
NEW_TUPLE = tuple("CJ")
NEW_TUPLE = MY_NAME[1:]
print(NEW_TUPLE)

('J',)

# REVIEW QUESTION #2

In [19]:
FOOD = ["RICE", "BEANS"]
print(FOOD)

['RICE', 'BEANS']

In [20]:
FOOD = ["RICE", "BEANS"]
FOOD.append("BROCCOLI")
print(FOOD)

['RICE', 'BEANS', 'BROCCOLI']

In [22]:
FOOD = ["RICE", "BEANS", "BROCCOLI"]
FOOD.extend(["BREAD", "PIZZA"])
print(FOOD)

['RICE', 'BEANS', 'BROCCOLI', 'BREAD', 'PIZZA']

In [24]:
FOOD = ["RICE", "BEANS", "BROCCOLI", "BREAD", "PIZZA"]
print(FOOD[:2])

['RICE', 'BEANS']

In [25]:
FOOD = ["RICE", "BEANS", "BROCCOLI", "BREAD", "PIZZA"]
print(FOOD[-1])

PIZZA

In [26]:
BREAKFAST = "EGGS, FRUIT, ORANGE JUICE".split(", ")
print(BREAKFAST)

['EGGS', 'FRUIT', 'ORANGE JUICE']

In [27]:
BREAKFAST = "EGGS, FRUIT, ORANGE JUICE".split(", ")
print(len(BREAKFAST))

3

In [28]:
BREAKFAST = ["EGGS", "FRUIT", "ORANGE JUICE"]
LENGTHS = [len(item) for item in BREAKFAST]
print(LENGTHS)

[4, 5, 12]

# REVIEW QUESTION #3

In [29]:
DATA = ((1, 2), (3, 4))
print(DATA)

((1, 2), (3, 4))

In [30]:
DATA = ((1, 2), (3, 4))
for index, item in enumerate(DATA, start=1):
    print(f"Row {index} sum: {sum(item)}")

Row 1 sum: 3
Row 2 sum: 7

In [31]:
NUMBERS = [5, 2, 9, 1, 7]
NUMBERS_COPY = NUMBERS[:]
print("Original:", NUMBERS)
print("Copy:", NUMBERS_COPY)

Original: [5, 2, 9, 1, 7]
Copy: [5, 2, 9, 1, 7]

In [32]:
NUMBERS = [5, 2, 9, 1, 7]
NUMBERS.sort()
print("Sorted:", NUMBERS)

Sorted: [1, 2, 5, 7, 9]

# CHALLENGE: LIST OF LIST

In [36]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]
for uni in universities:
    print(uni)

['California Institute of Technology', 2175, 37704]
['Harvard', 19627, 39849]
['Massachusetts Institute of Technology', 10566, 40732]
['Princeton', 7802, 37000]
['Rice', 5879, 35551]
['Stanford', 19535, 40569]
['Yale', 11701, 40500]

# CHALLENGE: WAX POETIC

In [37]:
nouns = ["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF", "MANGO", "EXTROVERT", "GORILLA"]
verbs = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", "EXPLODES", "CURDLES"]
adjectives = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", "EXUBERANT", "GLISTENING"]
prepositions = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", "FOR", "IN", "LIKE", "OVER", "WITHIN"]
adverbs = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY", "EXTRAVAGANTLY", "TANTALIZINGLY"]

print("Nouns:", nouns)
print("Verbs:", verbs)
print("Adjectives:", adjectives)
print("Prepositions:", prepositions)
print("Adverbs:", adverbs)

Nouns: ['FOSSIL', 'HORSE', 'AARDVARK', 'JUDGE', 'CHEF', 'MANGO', 'EXTROVERT', 'GORILLA']
Verbs: ['KICKS', 'JINGLES', 'BOUNCES', 'SLURPS', 'MEOWS', 'EXPLODES', 'CURDLES']
Adjectives: ['FURRY', 'BALDING', 'INCREDULOUS', 'FRAGRANT', 'EXUBERANT', 'GLISTENING']
Prepositions: ['AGAINST', 'AFTER', 'INTO', 'BENEATH', 'UPON', 'FOR', 'IN', 'LIKE', 'OVER', 'WITHIN']
Adverbs: ['CURIOUSLY', 'FURIOUSLY', 'SENSUOUSLY', 'EXTRAVAGANTLY', 'TANTALIZINGLY']

# REVIEW QUESTION #4

In [38]:
captains = {}
print(captains)

{}

In [44]:
captains = {}

captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"

for ship, captain in captains.items():
    print(f"'{ship}': '{captain}'")

'Enterprise': 'Picard'
'Voyager': 'Janeway'
'Defiant': 'Sisko'

In [40]:
if "Enterprise" not in captains:
    captains["Enterprise"] = "Unknown"

if "Discovery" not in captains:
    captains["Discovery"] = "Unknown"

print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko', 'Discovery': 'Unknown'}

In [45]:
captains = {
    "Enterprise": "Picard",
    "Voyager": "Janeway",
    "Defiant": "Sisko",
    "Discovery": "Unknown"
}

print(f"The Enterprise is captained by {captains['Enterprise']}.")

The Enterprise is captained by Picard.

# REVIEW QUESTION #5

In [46]:
captains = {
    "Enterprise": "Picard",
    "Voyager": "Janeway",
    "Defiant": "Sisko",
    "Discovery": "Unknown"
}

del captains["Discovery"]

print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [47]:
captains = dict(
    Enterprise="Picard",
    Voyager="Janeway",
    Defiant="Sisko",
    Discovery="Unknown"
)

print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko', 'Discovery': 'Unknown'}

# CHALLENGE: CAPITAL CITY LOOP

In [48]:
capitals_dict = {
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}

for state, capital in capitals_dict.items():
    print(f"The capital of {state} is {capital}.")

The capital of Alabama is Montgomery.
The capital of Alaska is Juneau.
The capital of Arizona is Phoenix.
The capital of Arkansas is Little Rock.
The capital of California is Sacramento.
The capital of Colorado is Denver.
The capital of Connecticut is Hartford.
The capital of Delaware is Dover.
The capital of Florida is Tallahassee.
The capital of Georgia is Atlanta.